*{
  box-sizing: border-boxs;
}
main{
  display: flex;
  flex-wrap: wrap;
}

header{
 flex: 1 1 100%;
  background-color: rgb(59, 248, 138);

}
aside{
  flex: 0 0 250px;

  background-color: rgba(0, 128, 0, 0.425)
}
article{
flex: 1 1 0;
  background-color: rgba(218, 165, 32, 0.582);;
}